#home
  #middle
    .container
      .row
        .span16.columns
          - if (flash)
            - for (var type in flash)
              .alert-message(class=type)
                a.close(href='#') x
                p
                  != flash[type]

          &nbsp;
      .row
        form#main_form(action='/rooms/new', method='post')
          .span4.columns
            label(for='youtube_id') Paste YouTube URL:
          .span12.columns
            input#youtube_id(type='text', name='youtube_id')
            input(type='hidden', name='csrf', value=csrf)
      .row
        .span4.columns
          &nbsp;
        .span12.columns
          #yt_preview
  #bottom
    .container
      .row
        .span8.columns.offset4.faq
          h2 What is <b>nyanTube</b>?
          p
            | <b>nyanTube</b> is a synchronized YouTube video player. It was created so you
            | can watch <a href="http://www.youtube.com/results?search_query=kittens&aq=f">kittens</a>
            | with your friends, laughing together. Or watch videos from the 
            | <a href="http://www.youtube.com/results?search_query=Live+At+Reading+2011&aq=f">festival</a>
            | you visited this year, chatting about artist. Endless possibilities, at your fingertips... 

          h2 How to use <b>nyanTube</b>?
          p
            | Using <b>nyanTube</b> is as easy as pasting (or typing, if you wish) YouTube URL in the huge
            | bar above, pressing enter, and sending URL to room from the field above the chat to your friends. Nothing more,
            | nothing less.
          p
            | Person who created room has full control over what other room participants see (playing, pausing, scrolling
            | through video). At the same time, every participant can turn off synchronization for a while.
          p
            | On the right hand side you can see chat, which you can join by typing your name. Every message sent
            | in it has special time tag, connected to moment in video. If you want to see what your friends commented on,
            | just turn off synchronization using the button above the player, and then click on thoe time tags.

          h2 About nyanTube
          p
            | <b>nyanTube</b> was created during Node Knockout - 48h node.js programming contest. If you
            | like the idea, you can vote using button at the <a href="#topbar">top bar</a>. You can also
            | share it to your friends on Twitter or Facebook - you know where to look for buttons.
          p
            | In case you want to contact me, you can find me on twitter <a href="http://twitter.com/zgryw">@zgryw</a>
            | or just write plain old email to lukasz at sagol.pl.
          p
            | Icons used are from <a href="http://blog.twg.ca/2010/11/retina-display-icon-set/">Retina Display Icon Set</a> by <a href="http://twg.ca">twg.ca</a>.

!= partial('room', {roomId: null})
