<h1>Testing, testing, everything seems to be in order...</h1>
<div class="row">
  <div class="span10 column">
    <div class="around">
      <div id="player"></div>
    </div>
  </div>
  <div class="span6 column">
    <div class="around">
      <ul id='chat' class="scroling" style="height: 300px;"></ul>
      <input class="chat_inputs" type="text" id="chat_input" disabled="disabled"></input>
      <button class="btn primary chat_inputs" id="chat_send" disabled="disabled">Send</button>
    </div>
    <div class="around">
      <ul>
        <li><a href="#" onclick="playVideo();return false;">play</a></li>
        <li><a href="#" onclick="pauseVideo();return false;">pause</a></li>
      </ul>
    </div>
  </div>
</div>

