<div style='width: 400px; height: 300px; margin: 100px auto;text-align:
center; font-family: Arial; font-size: 13px;'>
	<img src='http://i.imgur.com/DyGay.jpg' alt='Soon...' />
	<br/>
	<b>Nyan cat is working hard, to get software delivered...</b>
</div>
