!!! 5
html
  head
    title nyanTube - never watch videos alone again
    meta(charset='utf-8')
    link(rel='stylesheet', href='/static/css/#{assetsCacheHashes.css || 0}/style.css', type='text/css')
    <link href='http://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
  body
    #topbar
      .container
        .row
          .span3.columns
            h1
              a(href='/') nyanTube
          .span6.columns
            div(style='padding-top: 10px; position:relative')
              <iframe style='padding-top: 6px;' src="http://nodeknockout.com/iframe/nyan-nyan-nyan?css=http://nyan.no.de/css/badge.css" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
              .twipsy.right(style='top: 2px; left: 100px')
                .twipsy-arrow
                .twipsy-inner
                  | nyanTube takes part in
                  a(href='http://nodeknockout.com/teams/nyan-nyan-nyan') Node Knockout
                  | . You can help by voting with that button.
          .span5.columns
            &nbsp;
          .span2.columns
            div(style='padding-top: 5px;')
              <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://nyan.no.de/" data-text="I'm watching YouTube videos with my friends on #nyanTube" data-count="horizontal" data-via="zgryw">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
              iframe(scrolling='no', frameborder='0', style='border: none; overflow: hidden; width: 300px; height: 21px;', allowTransparency='true', src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fnyan.no.de%2F&amp;send=false&amp;layout=button_count&amp;width=300&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21")


    != body
    script(src='static/js/#{assetsCacheHashes.js || 0}/client.js', type='text/javascript)
