- if (roomId)
  script var roomId = '#{roomId}';

#room
  #middle
    .container
      .row
        .span6.columns.offset10
          .url
            p URL to share:
            input#url(type='text')
      .row
        .span10.columns
          #player.loading(style='width: 580px; height: 460px')
        .span6.columns
          #chatbox.full_loading
            #login_to_chat
              .inner
                p Type your name to join chat:
                input#chat_name(type='text')
                p.error
                button.btn.primary#chat_name_send Log in
                #chat_login_loading.chat_loading(style = 'display: none')
            dl#chat.scrolling
            input.chat_inputs#chat_input(type='text', disabled='disabled')
            button.btn.primary.chat_inputs#chat_send(disabled='disabled') Send
