- if (roomId)
  script var roomId = '#{roomId}';

#room
  #middle
    .container
      .row(style='height:0;')
        .span1.columns.offset15
          br
      .row
        .span5.columns(style='position: relative;')
          a#synchronization(href='#')
            img(src='/img/synchro.png')
          #sync_tooltip.twipsy.right(style='top: -5px; left: 30px')
            .twipsy-arrow
            .twipsy-inner
              | You can toggle video synchronization.
        .span6.columns.offset5
          .url
            p URL to share:
            input#url(type='text')
      .row
        .span10.columns
          #player.loading(style='width: 580px; height: 460px')
        .span6.columns
          #chatbox.full_loading
            #login_to_chat
              .inner
                p Type your name to join chat:
                input#chat_name(type='text')
                p.error
                button.btn.primary#chat_name_send Log in
                #chat_login_loading.chat_loading(style = 'display: none')
            dl#chat.scrolling
            input.chat_inputs#chat_input(type='text', disabled='disabled')
            button.btn.primary.chat_inputs#chat_send(disabled='disabled') Send
  .container
    .row
      .span8.columns.offset4.faq
        h2 Help
        p
          | Person which created room is so called <b>master</b>. He can control
          | which fragment of video you are currently watching, until you disable synchronization 
          | (button above player, you can't see it if you are master),
          | which will allow you to watch whichever moment you want.
        p
          | Master in chatroom can be recognized by darkred name in his messages. All your
          | messages are those with white background, and others... are written by other participants.
        p
          | Whenever master disconnects, another master is selected from people left in room and everybody
          | is informed about it in chatroom.
        p
          | Each chat message has little timestamp, right of nicknames. By clicking on it, you can
          | move to the moment in video, when the message was sent - useful when you want to see
          | what the person was writting about.
        p
          | Questions? Contact me <a href="http://twitter.com/zgryw">@zgryw</a>.
