.around {
	border: 1px solid #CCCCCC;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
	margin-bottom: 20px;
	padding: 9px;
}

.scrolling {
	overflow-y: scroll;
}

#room {
  display: none;
}

#chat {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#chat li {
	padding: 4px;
	border-bottom: 1px solid #eee;
}

#chat li.server {
	background: #eee;
}
